<!DOCTYPE html>
<html>
    <head>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>
        <LINK href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
        {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
        {% endblock %}
    </head>
    <body>
        <div id='site-wrap'>
            <img id='logo' src="{{ STATIC_URL }}images/zerosum_black.png">
            {% include 'nav.html' %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
